#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e3a8a;
}

table {
    border-collapse: collapse;
    background-color: #60a5fa4b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff69;
    border-radius: 10px;
}

td {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #000ed32a;
    border-radius: 3px;
}

td:hover {
    border-radius: 30px;
    height: 5px;
    width: 5px;
    background-image: url("mira.png");
    background-size: cover;
    background-position: center;

}

#tableros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

nav{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', monospace;
    color: rgb(255, 255, 255);
    padding: 20px;
    background: #00076d;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    font-size: larger;
}

body {
    background-image: url("drown.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    max-width: 100vh;
}
